{% extends 'AppDeco/padre.html' %}

{% load static %}

{% block descripcion %}

<form style="color:white; font-size: 20px" action="/AppDeco/resultadoL/" method="GET">

    <input type="number" name="medida_alto" id="medida_alto">

    <input type="submit" value="Buscar">



</form>

<p style="color:white; font-size: 40px">Estamos buscando la medida: {{medida_alto}}</p>

{% for nomb in nombre %}
    <p style="color:white; font-size: 20px">Nombre: {{nomb.nombre}} -- Alto: {{nomb.medida_alto}} </p>
{% endfor %}

{% endblock %}