{% extends 'AppDeco/padre.html' %}

{% load static %}

{% block descripcion %}

<form style="color:white; font-size: 20px" action="/AppDeco/resultadoS/" method="GET">

    <input type="number" name="medida_alto" id="medida_alto">

    <input type="submit" value="Buscar">



</form>

<p style="color:white; font-size: 40px">Estamos buscando la medida: {{medida_alto}}</p>

{% for nombr in nombre %}
    <p style="color:white; font-size: 20px">Nombre: {{nombr.nombre}} -- Alto: {{nombr.medida_alto}} </p>
{% endfor %}

{% endblock %}