{% extends 'AppDeco/padre.html' %}

{% load static %}
{% block barra %}
<form style="color:white; font-size: 20px" action="/AppDeco/resultadoS/" method="GET">

    <input type="number" name="medida_alto" id="medida_alto">

    <input type="submit" value="Buscar">



</form>
{% endblock %}
{% block titulo %}
Lista de sillones
{% endblock %}

{% block descripcion %}
    {% for sillon in object_list %}

    <a style="color:white; font-size: 20px" href="{% url 'SillonesDetalle' sillon.id %}">{{sillon.nombre}} </a> 
    <div></div>
    {% if request.user.is_authenticated %}
    <a class="btn btn-primary btn" href="{% url 'SillonesActualizar' sillon.id %}">Editar Sillón</a>
    <a class="btn btn-primary btn" href="{% url 'SillonesBorrar' sillon.id %}">Borrar Sillón</a>
    {% endif %}
    <p style="color:white; font-size: 5px">----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
    {% endfor %}
    
    <br>
    {% if request.user.is_authenticated %}
    <a class="btn btn-primary btn"href="{% url 'SillonesCrear' %}"> Agregar Sillón </a>
    {% endif %}
{% endblock %}